.widthColor1 {
    width: 40% !important ;
    background-color: #202068 !important;
}

.widthColor2 {
    background-color: #F6F5FC !important;

    /* background-color: white !important; */
    padding-left:10% !important;
    padding-right: 10% !important;
    }

.btn-custom {
    color: white !important;
    border-color: #202068 !important;
    background-color: #202068 !important;
}

.btn-custom:hover {
    background-color: white !important;
    color: #202068 !important;
    border-color: #202068 !important;
    
}

.mobileBorder {
    border-color: #202068 !important;
    border: 3px solid #007bff; /* Your desired border color */

}

@media (min-width: 576px) {  
    .custom-height {
      height: 100%;
    }
    .custom-width {
        width: 60%;
    }
    .mobileBorder {
        border: none !important;
    }
  }