.btn-custom {
    color: white !important;
    border-color: #202068 !important;
    background-color: #202068 !important;
}

.btn-custom:hover {
    background-color: white !important;
    color: #202068 !important;
    border-color: #202068 !important;
    
}


.form-control-custom:focus {
    border-color: #202068 !important;
    border-width: 2px !important;
    outline: none !important;
    box-shadow: none !important;
}

