.btn-outline-custom {
    color: white;
    border-color: #202068;
    background-color: #202068;
}

.btn-outline-custom:hover {
    background-color: white;
    color: #202068;
    border-color: #202068;
}


.form-control-custom:focus {
    border-color: #202068;
    border-width: 2px;
    outline: none;
    box-shadow: none;
}

